<form method="post" action="/recipes"> 
 <p>Name: <input type ="text" name = "name"></p>
 <p>Ingredients: <input type ="text" name = "ingredients"></p>
 <p>Instructions: <input type ="text" name = "instructions"></p>
 <p>Minutes: <input type ="number" name = "minutes"></p>
 <p>Difficulty: <input type ="number" name = "difficulty"></p>
 <button type="submit" value="submit">Submit</button>
</form>